<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
        padding:10px;
      }
    </style>
    <!--
    <h2>Hello [[prop1]]!</h2>
    <h2>Mi valor es ==> [[prop2]]!</h2>
  -->
    <div class="container">
        <div class="row">
          <h1 align="center" class="col-lg-12">:::::::Gestor de Clientes:::::::</h1>
          <button class="btn btn-success col-lg-4 col-xl-12" type="button" name="button" on-click="obtenerClientes">Obtener Clientes</button>
        </div>
        <div class="row">
            <table align="center" class="table table-striped col-lg-12">
              <thead class="thead-dark">
               <tr>
                 <th scope="col">Customer ID</th>
                 <th scope="col">Name</th>
                 <th scope="col">Last Name</th>
               </tr>
             </thead>
            <tbody>
                 <template is="dom-repeat" items="{{clientes}}">
                   <tr class="row">
                     <td class="cell">{{item.idcliente}}</td>
                     <td class="cell">{{item.nombre}}</td>
                     <td class="cell">{{item.apellido}}</td>
                     </tr>
                 </template>
               </tbody>
               </table>
         </div>
  </div>

    </div>
  </template>

  <script>
  /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type  : Array,
            notify: true
          }
        };
      }
      incrementar() {
        this.prop2++;
        console.log(this.prop1);
      }
      obtenerClientes(){
        var url = "http://localhost:3002/movimientos";
        //https://services.odata.org/V4/Northwind/Northwind.svc/Customers
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.setRequestHeader("Accept", 'application/json');
        request.send();
        console.log(JSON.parse(request.responseText));
        this.clientes = JSON.parse(request.responseText);

        console.log(this.clientes);
      }

    }
    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
